<h1>Hit Count</h1>
<h2>Unique Users # <%= @unique_impression_count%></h2>

<div id="impressions_chart" style="display: none; width: 560px; height: 300px;"></div>


<div id="div-for-tweetlist" >
  <%= will_paginate @impressions  %>
  <% count = ((params[:page] || 1).to_i - 1) * 10  %>

  <form class="form-inline" action="hit_impressions" data-remote="true" id="clear_impressions_post" method="get">
    <input name="clear_from" type="text" data-behaviour='datepicker' >
    <input style="color: #009998;" class="btn clear-button" id="clear_from" name="commit" type="submit" value="CLEAR FROM" />
  </form>


  <form class="form-inline" action="hit_impressions" data-remote="true" id="clear_impressions_post" method="get">
    <input style="color: #009998;" class="btn clear-button" id="clearing_impressions" name="commit" type="submit" value="CLEAR ALL" />
   </form>

  <table class="table table-hover">
    <tr>
      <th>SL #</th>
      <th>Country</th>
      <th>IP Description</th>
      <th>Date | Time</th>
    </tr>

    <% @impressions.each do |impression| %>
            <tr>
              <td><%= count %></td>
              <td><IMG style="width: 40px; height: 25px;" SRC="http://api.hostip.info/flag.php?ip=<%=impression.ip_address%>" ALT="IP Address Lookup"></td>
              <td><%= locale = Timeout::timeout(7) { Net::HTTP.get_response(URI.parse('http://api.hostip.info/get_html.php?ip=' + impression.ip_address )).body } rescue "Info Unavailable ATM"%></td>
              <td><%= (impression.created_at+5.hours+30.minutes).strftime("%m/%d/%Y %I:%M%p")%></td>
            </tr>
        <% count += 1 %>
    <% end %>
  </table>

</div>


<script type="text/javascript" charset="utf-8">

    $(function () {
        new Highcharts.Chart({
            chart: { renderTo: 'impressions_chart' },
            title: { text: 'User Hits Chart' },
            xAxis: { type: 'datetime' },
            yAxis: {
                title: { text: 'Dollars'}
            },
            series: [{
                data: [1, 2, 5, 7, 3]
            }]
        });
    });


    $(".clear-button").click(function () {
        location.reload();
    });

    $(document).ready(function(){
       $('[data-behaviour~=datepicker]').datepicker();
    });

</script>