<h1>Hit Count</h1>
<h2>Unique Users # <%= @unique_impression_count%></h2>


<div id="div-for-tweetlist" >
  <%= will_paginate @impressions  %>
  <% count = ((params[:page] || 1).to_i - 1) * 10  %>


  <table class="table table-hover">
    <tr>
      <th>SL #</th>
      <th>Country</th>
      <th>IP Description</th>
      <th>Date | Time</th>
    </tr>

    <% @impressions.each do |impression| %>
            <tr>
              <td><%= count %></td>
              <td><IMG style="width: 40px; height: 25px;" SRC="http://api.hostip.info/flag.php?ip=<%=impression.ip_address%>" ALT="IP Address Lookup"></td>
              <td><%= locale = Timeout::timeout(7) { Net::HTTP.get_response(URI.parse('http://api.hostip.info/get_html.php?ip=' + impression.ip_address )).body } rescue "Info Unavailable ATM"%></td>
              <td><%= (impression.created_at+5.hours+30.minutes).strftime("%m/%d/%Y %I:%M%p")%></td>
            </tr>
        <% count += 1 %>
    <% end %>
  </table>

</div>


<script type="text/javascript">
    $(document).ready(function(){

        $("a[class=tooltip]").hover(
                function () {
                    var position = $(this).position();
                    $(this).children("div.content").addClass('tip').css('left',position.left);
                },
                function () {
                    $(this).children("div.content").removeClass('tip');
                }
        );
    });

</script>