<div id="div-for-tweetlist"  >
<%if @user_scores.present? %>
<p style="padding-left: 35%; font-size: 22px;" class="android-style">
  <u>LEADERBOARD</u>
</p>
    </br>

  <% count = (((params[:page] || 1).to_i - 1) * 10) + 1  %>
  <table class="table table-hover table-bordered" style="color: #698338">
    <tr>
      <th>SCORE</th>
      <th>USER</th>
      <th>RANK</th>
      <% if user_signed_in? %>
       <th>POSTED</th>
      <%end%>
    </tr>
    <% @user_scores.each do |userscore| %>
        <%critiquking_user = count == 1 ? true : false%>
            <tr <%if critiquking_user %> class="success" <%end%>>
              <td>
                <b>
                <% if count.eql? 1%>
                    <img id="scoreboard_icon" style="width: 50px;height: 50px;" src="/assets/CritiquKing_icon.png"/> ( CritiquKing! )
                <%else%>
                    <%= userscore.score %>
                <%end%>
                </b>
              </td>
              <td>
                <b><%= userscore.provider == 'twitter' ? image_tag('Twitter_logo_blue.png', size: "25x25") : "" %>@<%= userscore.username%></b>
              </td>
              <td>
                <b>
                  <%=count%>
                </b>
              </td>
              <% if user_signed_in? %>
                <td><%= userscore.posted %></td>
              <%end%>
        </tr>
        <% count += 1 %>
    <% end %>
  </table>

</div>

<%else%>
   <div class="social-buttons span4 offset4" id="social-buttons">
    <p class="android-style">
      No Reviews Yet
        <a class="btn btn-twitter btn-block" href="/auth/twitter">Sign-in to be 1st!</a>
      </p>
   </div>
<%end%>