<h1>Listing Tweets</h1>

<div id="div-for-tweetlist" >
 <%= will_paginate @posts, :page_links => false  %>

    <table class="table table-hover">
      <tr>
        <th>Content</th>
        <th>Post By?</th>
        <th>Publish</th>
      </tr>

      <% @tweets.each do |tweet| %>
          <%= form_for(tweet, :url => admin_approve_path, :html => {:multipart => true, :class=> 'tweet-form-inline'}, :remote=>true ) do |t| %>
          <tr>
            <td><%= tweet.body %></td>
            <td><%= tweet.johndoe? ? "JohnDoe" : tweet.username %></td>
            <%= t.hidden_field :tweet_id, :value => tweet.id%>
            <td><%= t.submit "Publish", :class=> 'publish-button' unless tweet.posted? %><td>

          </tr>
      <% end %>
      <% end %>
    </table>

</div>



<script>

    $(".publish-button").click(function () {
        location.reload();
    });

</script>