<%- model_class = Tweet -%>
<div class="page-header" style="width: 100%;">
  <h1 style="font-weight:lighter; text-align: center; font-family: sans-serif;">Tweet for @AlertsMall</h1>
  <!--<h1><%=t '.title', :default => [:'helpers.titles.new', '%{model} For @PuneFoodAlerts'], :model => model_class.model_name.human.titleize %></h1>-->
</div>

<%= form_for @tweet, :html => { :name => 'post-form', :class => 'form-horizontal' } do |f| %>
    <div class="control-group" style="text-align: center;">
      <div id="inner" style="display: inline-block;">
      <%= f.label 'tweet', :class => 'label-for-tweet'  %>
        <%= f.text_field :body, :class => 'text_field' %>
        <%= f.submit 'Tweet', :class => 'btn primary-btn tweet-action tweet-btn js-tweet-btn' %>
      </div>
      <div class="label-for-checkbox">
        <%if request.env["omniauth.auth"].nil? %>
            <input id="JohnDoe" type="checkbox" onclick="handleClick(this);">
            I'm John Doe
       </div>
         <%end%>

    </div>
    <%# request.env["omniauth.auth"].inspect %>


<% end %>




<script>
    $(document).ready(function(){
       if(document.getElementById("JohnDoe").checked == false){
           document['post-form'].action = "/auth/twitter";
       }
    });

    function handleClick(JohnDoe) {
        if(JohnDoe.checked){
            document['post-form'].action = "/tweets";
        }
        if(JohnDoe.checked == false) {
            document['post-form'].action = "/auth/twitter";
        }
    }

</script>