<%- model_class = Tweet -%>
<% if request.env["omniauth.auth"].present?
     @placeholder_text = "Post review via @#{request.env["omniauth.auth"]["info"]["nickname"]}...."
     @button_text = "Tweet"
   elsif session[:username].present?
     @placeholder_text = "Post review via @#{session[:username]}...."
     @button_text = "Tweet"
   else
     @placeholder_text = "Login to post your review...."
     @button_text = "Login"
  end
%>

<div class="page-header">
  <h1 style="color: #668988; font-weight:lighter; text-align: center; font-family: sans-serif;"> Tweet Your Food Reviews</h1>
  <!--<h1><%=t '.title', :default => [:'helpers.titles.new', '%{model} For @PuneFoodAlerts'], :model => model_class.model_name.human.titleize %></h1>-->
</div>

<%= form_for @tweet, :html => { :name => 'post-form', :class => 'form-horizontal' } do |f| %>
    <div class="control-group" style="text-align: center;">
      <div id="inner" >
        <%= f.text_field :body, :class => 'text', :placeholder => "#{@placeholder_text}", :autocomplete => "off" %>
        <div class="label-for-checkbox">
          <%if request.env["omniauth.auth"].nil? %>
              <%if @username.present? %>
                  <input type="hidden" id="tweet_username" name="tweet[username]" value=<%= @username%>>
                  <%= link_to "Dont Mention @#{@username}", new_tweet_path(not_john_doe: true) %>
              <%else%>
                  <label class="label-for-checkbox">
                  <input id="JohnDoe" class="checkbox" type="checkbox" onclick="handleClick(this);">
                  Tweet as John Doe
                  </label>
              <%end%>
          <%else%>
              <% @username = request.env["omniauth.auth"]["info"]["nickname"]
                 session[:username] = @username%>
              <%= link_to "Dont Mention @#{@username}", new_tweet_path(not_john_doe: true)%>
              <input type="hidden" id="tweet_username"  name="tweet[username]" value=<%= request.env["omniauth.auth"]["info"]["nickname"]%>>
          <%end%>
        </div>

        <%= f.submit "#{@button_text}", :class => 'button', :id =>"tweet_or_login" %>

      </div>

    </div>
<% end %>




<script>
    document['post-form'].action = "/auth/twitter";

    var loggedin =  document.getElementById('tweet_username');
    if (typeof(loggedin) != 'undefined' && loggedin != null)
    {
        document['post-form'].action = "/tweets";
    }

    $(document).ready(function(){
       if(document.getElementById("JohnDoe").checked == false){
           document['post-form'].action = "/auth/twitter";
       }
    });

    function handleClick(JohnDoe) {
        if(JohnDoe.checked){
            document.getElementById("tweet_body").placeholder = "Write your review ...";
            document.getElementById("tweet_or_login").value = "Tweet";
            document['post-form'].action = "/tweets";
        }
        if(JohnDoe.checked == false) {
            document.getElementById("tweet_body").placeholder = "Login to post your review...";
            document.getElementById("tweet_or_login").value = "Login";
            document['post-form'].action = "/auth/twitter";
        }
    }

</script>