<%- model_class = Tweet -%>
<% if request.env["omniauth.auth"].present?
     @placeholder_text = "Type review in 140 characters (via @#{request.env["omniauth.auth"]["info"]["nickname"]})...."
     @button_text = "POST REVIEW"
     @should_login = false
   elsif session[:username].present?
     @placeholder_text = "Type review in 140 characters (via @#{session[:username]})...."
     @button_text = "POST REVIEW"
     @should_login = false
   else
     @placeholder_text = "To Review- Please Sign In  OR  Be Anonymous"
     @button_text = "Login"
     @should_login = true
  end
%>

<div class="page-header-new">
  <%= image_tag("pageheader_morningmirror.jpg" ) %>
</div>

<%= form_for @tweet, :html => { :name => 'post-form', :class => 'form-horizontal' } do |f| %>
    <div class="control-group" style="text-align: center;">

      <div id="inner" >
        <div style="display: none;" id="split_review">
            <%= render 'tweets/review_split_input' %>
        </div>
        <div id="fulltext_review">
           <%= f.text_field :body, :class => 'text', :placeholder => "#{@placeholder_text}", :autocomplete => "off" %>
        </div>
        <div class="label-for-checkbox">
          <%if request.env["omniauth.auth"].nil? %>
              <%if @username.present? %>
                  <input type="hidden" id="tweet_username" name="tweet[username]" value=<%= @username%>>
                  <%= link_to "No, Dont Mention @#{@username}. Log Me Out!!", new_tweet_path(not_johndoe: true), class: "anchor-style" %>
              <%else%>
                  <label class="label-for-checkbox">
                  <input id="JohnDoe" class="checkbox" type="checkbox" onclick="handleClick(this);" <%if params[:not_johndoe] %>checked="checked"<%end %>>
                  Be Anonymous
                  </label>
              <%end%>
          <%else%>
              <% @username = request.env["omniauth.auth"]["info"]["nickname"]
                 session[:username] = @username
                 @name = request.env["omniauth.auth"]["info"]["name"]%>
              <%= link_to "Logout! Dont Mention @#{@username}", new_tweet_path(not_johndoe: true)%>
              <input type="hidden" id="tweet_username"  name="tweet[username]" value=<%= request.env["omniauth.auth"]["info"]["nickname"]%>>
          <%end%>
        </div>


          <div class="social-buttons span4 offset4" id="social-buttons">
            <a class="btn btn-twitter btn-block" href="/auth/twitter">Sign in with Twitter</a>
           <!-- <a class="btn btn-facebook btn-block" href="/auth/facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>-->
          </div>

            <%= f.submit "#{@button_text}", :class => 'button', :id =>"tweet_or_login" %>


      </div>

    </div>


<% end %>



<div id="myModal" class="modal-dialog modal fade" style="display: none;">
  <div class="modal-content">
    <div class="modal-header" style="text-align: center;">
      <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
      <h3 class="modal-title">Congrats!!</h3>
      <h4>@<%=  @username %> Just Earned A Badge</h4>

    </div>
    <div class="modal-body" style="text-align: center;">

      <img id="scoreboard_icon" style="width: 80px;height: 80px;" src="/assets/CritiquKing_icon_v2.png"/>
    </div>
    <div class="modal-footer">
      <form data-remote="true" action="/tweets/critiquking_reckoner" class="form-horizontal" id="new_connection" method="post" name="connect-form">
        <%= hidden_field_tag :badge_earned, true-%>
        <button id="woohoo" class="btn connect-button btn-success disabled" type="submit">Woohoo!</button>
        <!--<input class="btn btn-success" type="submit" value="Woohoo!" id="submit">-->
      </form>

    </div>
  </div>
</div>



<script>
    <%if request.env["omniauth.auth"].present? or session[:username].present? %>
        $('#social-buttons').hide();
        $('#tweet_or_login').show();
        $('#split_review').show();
        $('#fulltext_review').hide();
    <%else%>
        $('#social-buttons').show();
        $('#tweet_or_login').hide();
    <%end%>


    document['post-form'].action = "/auth/twitter";



    if($('#JohnDoe').is(':checked')){
        $('#tweet_body').show();
        $('#tweet_or_login').show();
        $('#social-buttons').hide();
        $('#split_review').show();
        $('#fulltext_review').hide();
        $('#its_anonymous').val('true');
        document.getElementById("tweet_or_login").value = "POST REVIEW";
        document['post-form'].action = "/tweets";

    }
    else
    {
        $("#tweet_body").attr('disabled',true);
    }

    var loggedin =  document.getElementById('tweet_username');
    if (typeof(loggedin) != 'undefined' && loggedin != null)
    {
        document['post-form'].action = "/tweets";
        $('#tweet_body').show();
        $("#tweet_body").attr('disabled',false);
    }
    else
    {
        $('#tweet_body').fadeIn(10000);

    }

    <% if request.env["omniauth.auth"].present? or session[:username].present? %>
    <% if critiquking_reckoner%>
    $('#myModal').modal({
        backdrop: 'static'
    })
    $("#myModal").modal('show');

    <%end%>
    <%end%>



    $(document).ready(function(){
        $("#woohoo").click(function(){
            $("#myModal").modal('hide'); //hide popup
        });

        if(document.getElementById("JohnDoe").checked == false){
           document['post-form'].action = "/auth/twitter";
       }

    });

    function focusStayConnected() {
        document.getElementById("connect-textbox").focus();
        $('html, body').animate({scrollTop:400},'slow');
        return false;

    }



    function handleClick(JohnDoe) {
        if(JohnDoe.checked){
            $("#tweet_body").attr('disabled',false);
            $('#social-buttons').hide();
            $('#tweet_or_login').show();
            $('#split_review').show();
            $('#fulltext_review').hide();
            $('#its_anonymous').val('true');
            document.getElementById("tweet_or_login").value = "POST REVIEW";
            document['post-form'].action = "/tweets";
        }
        if(JohnDoe.checked == false) {
            $("#tweet_body").attr('disabled',true);
            $('#social-buttons').show();
            $('#tweet_or_login').hide();
            $('#split_review').hide();
            $('#fulltext_review').show();
            $('#its_anonymous').val('false');
            document.getElementById("tweet_body").placeholder = "To Review- Please Sign In  OR  Be Anonymous";
            document.getElementById("tweet_or_login").value = "Login";
            document['post-form'].action = "/auth/twitter";
        }
    }

</script>