<%- model_class = Tweet -%>
<% if request.env["omniauth.auth"].present?
     @placeholder_text = "Post review via @#{request.env["omniauth.auth"]["info"]["nickname"]}...."
     @button_text = "Post Review"
     @should_login = false
   elsif session[:username].present?
     @placeholder_text = "Post review via @#{session[:username]}...."
     @button_text = "Post Review"
     @should_login = false
   else
     @placeholder_text = "Sign In or Be JohnDoe"
     @button_text = "Login"
     @should_login = true
  end
%>

<div class="page-header-new">
  <%= image_tag("pageheader_morningmirror.jpg" ) %>

</div>

<%= form_for @tweet, :html => { :name => 'post-form', :class => 'form-horizontal' } do |f| %>
    <div class="control-group" style="text-align: center;">
      <div id="inner" >
           <%= f.text_field :body, :class => 'text', :placeholder => "#{@placeholder_text}", :autocomplete => "off" %>
        <div class="label-for-checkbox">
          <%if request.env["omniauth.auth"].nil? %>
              <%if @username.present? %>
                  <input type="hidden" id="tweet_username" name="tweet[username]" value=<%= @username%>>
                  <%= link_to "Dont Mention @#{@username}", new_tweet_path(not_johndoe: true), class: "anchor-style" %>
              <%else%>
                  <label class="label-for-checkbox">
                  <input id="JohnDoe" class="checkbox" type="checkbox" onclick="handleClick(this);" <%if params[:not_johndoe] %>checked="checked"<%end %>>
                  Be JohnDoe
                  </label>
              <%end%>
          <%else%>
              <% @username = request.env["omniauth.auth"]["info"]["nickname"]
                 session[:username] = @username%>
              <%= link_to "Dont Mention @#{@username}", new_tweet_path(not_johndoe: true)%>
              <input type="hidden" id="tweet_username"  name="tweet[username]" value=<%= request.env["omniauth.auth"]["info"]["nickname"]%>>
          <%end%>
        </div>


          <div class="social-buttons span4 offset4" id="social-buttons">
            <a class="btn btn-twitter btn-block" href="/auth/twitter">Sign in with Twitter</a>
            <a class="btn btn-facebook btn-block" href="/auth/facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
          </div>

            <%= f.submit "#{@button_text}", :class => 'button', :id =>"tweet_or_login" %>





      </div>

    </div>


<% end %>




<script>
    <%if request.env["omniauth.auth"].present? or session[:username].present? %>
        $('#social-buttons').hide();
        $('#tweet_or_login').show();
    <%else%>
        $('#social-buttons').show();
        $('#tweet_or_login').hide();
    <%end%>


    document['post-form'].action = "/auth/twitter";

    if($('#JohnDoe').is(':checked')){
        $('#tweet_body').show();
        $('#tweet_or_login').show();
        $('#social-buttons').hide();
        document.getElementById("tweet_body").placeholder = "Write your review Eg: <<Dish Name>> <<Restaurant Name>> <<Other Thoughts>> <<#CityName>>";
        document.getElementById("tweet_or_login").value = "Post Review";
        document['post-form'].action = "/tweets";
    }
    else
    {
        $("#tweet_body").attr('disabled',true);
    }

    var loggedin =  document.getElementById('tweet_username');
    if (typeof(loggedin) != 'undefined' && loggedin != null)
    {
        document['post-form'].action = "/tweets";
        $('#tweet_body').show();
        $("#tweet_body").attr('disabled',false);
    }
    else
    {
        $('#tweet_body').fadeIn(5000);

    }

    $(document).ready(function(){

       if(document.getElementById("JohnDoe").checked == false){
           document['post-form'].action = "/auth/twitter";
       }

    });

    function handleClick(JohnDoe) {
        if(JohnDoe.checked){
            $("#tweet_body").attr('disabled',false);
            $('#social-buttons').hide();
            $('#tweet_or_login').show();
            document.getElementById("tweet_body").placeholder = "Write Your Review. Eg: <<Dish Name>> <<Restaurant Name>> <<Other thoughts>> <<#CityName>>";
            document.getElementById("tweet_or_login").value = "Post Review";
            document['post-form'].action = "/tweets";
        }
        if(JohnDoe.checked == false) {
            $("#tweet_body").attr('disabled',true);
            $('#social-buttons').show();
            $('#tweet_or_login').hide();
            document.getElementById("tweet_body").placeholder = "Sign In or Be JohnDoe";
            document.getElementById("tweet_or_login").value = "Login";
            document['post-form'].action = "/auth/twitter";
        }
    }

</script>